@model OWASP10_2021.Areas.Admin.Models.DirAndFiles

<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
    </tr>
    <tr>
        @foreach (var Dir in Model.Directories)
        {
        <td>@Dir</td>
        <td>Directory</td>
        }
    </tr>
    <tr>
        @foreach (var File in Model.Files)
        {
        <td>@File</td>
        <td>File</td>
        }
    </tr>
</table>

@if (Model.FileContents.Length > 0)
{
<p>File Contents:</p>
<textarea>
        @System.Text.Encoding.ASCII.GetString(Model.FileContents)
    </textarea>
}