@{
    ViewData["Title"] = "OWASP Top 10 - Home Page";
}
<div class="text-left">
    <h1 class="display-4">Topic 1 - Broken Access Control</h1>
    <p>
        There are many forms of Broken Access Control, but most of the issues are based on the assumption that the data will be of certain type (int, string, decimal) and blindly accepting them from your visitors. Another issues in this area is verifying access and testing access to your application, specifically looking at it from an attacker's perspective.
        <a href='https://owasp.org/Top10/A01_2021-Broken_Access_Control#list-of-mapped-cwes' target="_blank">See all mapped CWE</a>
    </p>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Scenario 1</h5>
            <p class="card-text">The bank management team has decided to list famous patrons that use their bank.</p>
            @Html.ActionLink("Check it out", "Bank", "Home", null, new { @class="btn btn-primary", target="_blank" })<br /><br />
            <small>CWE Related: 22, 23, 35, 59, 200, 201, 219, 275, 425 and others</small>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Scenario 2</h5>
            <p class="card-text">The bank development team was asked to build a Administrative area for bank management to update the site without involoving the Dev team.</p>
            @Html.ActionLink("Check it out", "Bank", "Home", null, new { @class="btn btn-primary", target="_blank" })<br /><br />
            <small>CWE Related: 862 and others</small>
        </div>
    </div>
</div>
