@model OWASP10_2021.Models.User
@{
    Layout = "/Views/Shared/_BankLayoutAdmin.cshtml";
}

@section AdminMenu
{
    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
        <li class="has-children">
            <a href="#home-section" class="nav-link">Admin</a>
            <ul class="dropdown">
                @if (Model.Role == "accounts")
                {
                    <li><a href="#team-section" class="nav-link">Accounts</a></li>
                }
                @if (Model.Role == "filemanager")
                {
                    <li><a href="/admin/home/filemanager" class="nav-link">File Manager</a></li>
                }
                @*<li class="has-children">
                    <a href="#">More Links</a>
                    <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                    </ul>
                </li>*@
            </ul>
        </li>

    </ul>
}


<div class="site-section" id="next">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ml-auto" data-aos="fade-up" data-aos-delay="10">
                <div class="mb-4">
                    Welcome back, @Model.Username
                </div>
                
            </div>
        </div>
    </div>
</div>
